<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table des Points</title>
</head>
<body>
    <h1>Clubs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom du Club</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Compétitions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom de la Compétition</th>
                <th>Date</th>
                <th>Places disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for competition in competitions %}
            <tr>
                <td>{{ competition.name }}</td>
                <td>{{ competition.date }}</td>
                <td>{{ competition.numberOfPlaces }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
